.ReactModal__Overlay {
  transition: background-color 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Overlay--before-close {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ReactModal__Content {
  outline: none;
  transition: top 500ms ease-in-out, transform 500ms ease-in-out;
}

.ReactModal__Content--after-open:not(.ReactModal__Content--fullscreen) {
  top: 40px !important;
  transform: translate(-50%, 0) !important;
}

.ReactModal__Content--before-close:not(.ReactModal__Content--fullscreen) {
  top: 0 !important;
  transform: translate(-50%, -100%) !important;
}

.ReactModal__Content--fullscreen.ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModal__Content--fullscreen.ReactModal__Content--before-close {
  transform: scale(0);
}

.ReactModal__Content--fullscreen {
  transform: scale(0);
  transform-origin: center 40px;
}
